<div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
  <div class="container">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="16" height="16">
      <use xlink:href="#check-circle-fill"/>
    </svg>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
