---
import TopBar from '../components/ui/TopBar.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/ui/Footer.astro';
import Notificacation from '../components/sections/Notification.astro';
import Sprite from '../components/icons/Sprite.astro';
import '../styles/bootstrap.scss';
---

<!doctype html>
<html lang="en" data-bs-theme="dar">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Bootstrap with Astro</title>
    <meta name="description" content="Use Bootstrap with Astro" />
  </head>
  <body>
	<Sprite />
		<Notificacation />
		<TopBar />
		<Header />
		<main>
    	<slot />
		</main>
		<Footer />
    <script>
			// Import everything
				 import 'bootstrap/dist/js/bootstrap';
      // Import only what you need
      // import 'bootstrap/js/dist/alert';
      // import 'bootstrap/js/dist/button';
      // import 'bootstrap/js/dist/carousel';
      // import 'bootstrap/js/dist/collapse';
      // import 'bootstrap/js/dist/dropdown';
      // import 'bootstrap/js/dist/modal';
      // import 'bootstrap/js/dist/offcanvas';
      // import 'bootstrap/js/dist/popover';
      // import 'bootstrap/js/dist/scrollspy';
      // import 'bootstrap/js/dist/tab';
      // import 'bootstrap/js/dist/toast';
      // import 'bootstrap/js/dist/tooltip';
    </script>
  </body>
</html>